# Linux
# -------------------------------------------------------------
*~
*.bak

# Rust
# -------------------------------------------------------------
target/
.bin/

# This repo
# -------------------------------------------------------------
tmp/
ANNOTATIONS.txt
